// by @sergodeeva (https://github.com/sergodeeva)
$color-background = #FFFFFF
$color-footer-mobile-1 = darken($color-background, 2%)
$color-footer-mobile-2 = darken($color-background, 10%)
$color-background-code = darken($color-background, 2%)
$color-border = #666
$color-meta = #666
$color-meta-code = lighten($color-meta, 10%)
$color-link = rgba(212, 128, 170, 1)
$color-text = #383838
$color-accent-3 = #8c8c8c
$color-accent-2 = #383838
$color-accent-1 = #2bbc8a
$color-quote = #2bbc8a
$highlight = hexo-config("highlight") || "atelier-cave-light"

//android developer 超链接颜色（蓝色）
$color-android-link = #1b9ce2
//android developer 文本(黑色)
$color-android-text = #212121
//android developer 背景(白色)
$color-android-bg = #FFFFFF
//android developer 标题(灰色)
$color-android-title-first = #757575

//java keywords 关键字颜色（土黄色）
$color-java-keywords = #BC7739
//java methods 方法颜色（浅黄色）
$color-java-methods = #FEC574
//java 常量名称颜色(紫色)
$color-java-const = #9777a9
//java 代码颜色（灰白色）
$color-java-code = #a9b7c6
//java 注释颜色(绿色)
$color-java-comment = #65865b

//不同的黑色
$color-black-1 = #333333;
$color-black-2 = #2f2f2f;

//不同的红色
$color-red-1 = #f97352

//不同的灰色
$color-gray-1 = #e9e9e9
$color-gray-2 = #f5f5f5
$color-gray-3 = #dddddd

//导航栏：绿色
$color-nav-normal = #2bbc8a
$color-a-normal = #2bbc8a

//表格边框
$color-border = $color-gray-1

//块区域的背景色，主要用作文章摘要的背景色
$color-block-background = #f8f8f8
//块区域的边框色，主要用作文章摘要的边框色
$color-block-border = #cccccc

//footer
$color-footer = #666