//.post_summery
    //margin: 0

.content
 .post-list
  .post-item
    .post-summery //这里post_summery就是所有的a标签
     display: block
     margin-left: 18px
     margin-right: 18px
     margin-bottom: 30px
     padding: 10px 10px 10px 98px
     color: $color-footer
     display: -webkit-box;
     -webkit-line-clamp: 3; //控制摘要最多显示多少行
     -webkit-box-orient: vertical;
     overflow: hidden;
     border: 0px dashed $color-block-border;
     border-radius: 3px
     text-decoration: none
     //background-color: $color-block-background; // for test
     font-size: 13px

     a
      //color: $color-footer
      //color: $color-java-code
      color: $color-text
      remove-underline()

      &:hover
       //color: $color-link
       //color: $color-a-normal

